/* Estilos generales */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para el formulario de registro de productos */
#product-form {
    margin-bottom: 20px;
}

/* Estilos para el carrito de compras */
#cart {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#cart p {
    margin: 5px 0;
}

/* Estilos para el botón de comprar */
#buy-button {
    display: block;
    margin-top: 10px;
}
